<h1>Listing guests</h1>

<table>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Email</th>
    <th>Address</th>
    <th>Rsvp code</th>
    <th>Rsvp</th>
    <th>Comment</th>
    <th>Plus one</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @guests.each do |guest| %>
  <tr>
    <td><%= guest.first_name %></td>
    <td><%= guest.last_name %></td>
    <td><%= guest.email %></td>
    <td><%= guest.address %></td>
    <td><%= guest.rsvp_code %></td>
    <td><%= guest.rsvp %></td>
    <td><%= guest.comment %></td>
    <td><%= guest.plus_one %></td>
    <td><%= link_to 'Show', guest %></td>
    <td><%= link_to 'Edit', edit_guest_path(guest) %></td>
    <td><%= link_to 'Destroy', guest, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Guest', new_guest_path %>
