<h1>RSVP</h1>
Hi <strong><%= @guest.first_name %></strong>! Please RSVP below by <strong>June 9</strong>. If you have any questions email us at <a href="mailto:erniepark.tinahsu@gmail.com">erniepark.tinahsu@gmail.com</a>.
<br />
<br />

<%= flash[:error] %>
<%= flash[:notice] %>
<%= form_tag("/rsvp/complete", :method => :get) do  %>
  <%= hidden_field_tag(:rsvp_code, @guest.rsvp_code) %>
  <%= radio_button_tag(:attending, "yes") %>
  <%= label_tag(:attending_yes, "Yes, I will attend the wedding") %><br />
  <%= radio_button_tag(:attending, "no") %>
  <%= label_tag(:attending_no, "No, I cannot attend the wedding :(") %>
  <%= text_area_tag(:song_suggest, "Song suggestions?", :class => 'rsvp_textarea' )%>
  <%= text_area_tag(:comment, "Leave us a comment for the guestbook! It will be visible to everyone else.", :class => 'rsvp_textarea' )%>
  <%= submit_tag "RSVP" %>
<% end %>
