<h1>RSVP</h1>

<% if @plus_one != nil %>
  <% @plus_one_text = " and " + @plus_one.first_name %>
<% else %>
  <% @plus_one_text = "" %>
<% end %>

<p>
  Hi <strong><%= @guest.first_name + @plus_one_text%></strong>! Please RSVP below by <strong>June 9</strong>. If you have any questions email us at <a href="mailto:erniepark.tinahsu@gmail.com">erniepark.tinahsu@gmail.com</a>.
</p>

<%= flash[:error] %>
<%= flash[:notice] %>
<%= form_tag("/rsvp/complete", :id => "rsvp-form") do  %>
  <%= hidden_field_tag(:rsvp_code, @guest.rsvp_code) %>
  <% if @plus_one != nil %>
    <h2 class="name"><%= @guest.first_name + " " + @guest.last_name %></h2>
  <% end %>
  <div id="guest-rsvp" class="rsvp-radios">
    <% if @plus_one == nil %>
      <div class="label">Will you be attending?</div>
    <% else %>
      <div class="label">Will <%= @guest.first_name%> be attending?</div>
    <% end %>
    <div>
      <%= radio_button_tag(:attending, "yes") %>
      <%= label_tag(:attending_yes, "Yes") %>
    </div>
    <div>
      <%= radio_button_tag(:attending, "no", true) %>
      <%= label_tag(:attending_no, "No") %>
    </div>
  </div>
  <div id="guest-food" class="food">
    <div class="rsvp-radios">
      <div class="label">Dinner Entree Options</div>
      <div>
        <%= radio_button_tag(:food_choice, "chicken", true) %>
        <%= label_tag(:food_choice_chicken, "Chicken Marsala") %>
      </div>
      <div>
        <%= radio_button_tag(:food_choice, "beef") %>
        <%= label_tag(:food_choice_beef, "Roast Sirloin of Beef") %>
      </div>
    </div>
    <%= label_tag(:allergies, "Dietary restrictions?", :class => 'label') %>
    <%= text_area_tag(:allergies, @guest.allergies, :class => 'rsvp_textarea' )%>
  </div>

  <% if @plus_one != nil %>
  <div id="po">
    <h2 class="name"><%= @plus_one.first_name + " " + @plus_one.last_name %></h2>
    <div id="po-rsvp" class="rsvp-radios">
      <div class="label">Will <%= @plus_one.first_name%> be attending?</div>
      <div>
        <%= radio_button_tag(:po_attending, "yes") %>
        <%= label_tag(:po_attending_yes, "Yes") %>
      </div>
      <div>
        <%= radio_button_tag(:po_attending, "no", true) %>
        <%= label_tag(:po_attending_no, "No") %>
      </div>
    </div>
    <div id="po-food" class="food">
      <div class="rsvp-radios">
        <div class="label">Dinner Entree Options</div>
        <div>
          <%= radio_button_tag(:po_food_choice, "chicken", true) %>
          <%= label_tag(:po_food_choice_chicken, "Chicken Marsala") %>
        </div>
        <div>
          <%= radio_button_tag(:po_food_choice, "beef") %>
          <%= label_tag(:po_food_choice_beef, "Roast Sirloin of Beef") %>
        </div>
      </div>
      <%= label_tag(:po_allergies, "Dietary restrictions?", :class => 'label') %>
      <%= text_area_tag(:po_allergies, @plus_one.allergies, :class => 'rsvp_textarea' )%>
    </div>
  </div>
  <% end %>
  <div id="bottom-form">
    <%= label_tag(:song_suggestion, "Song suggestions?", :class => 'label') %>
    <%= text_area_tag(:song_suggestion, @guest.song_suggestion, :class => 'rsvp_textarea' )%>
    <%= label_tag(:comment, "Leave a comment for the guestbook! It will be visible to everyone.", :class => 'label') %>
    <%= text_area_tag(:comment, @guest.comment, :class => 'rsvp_textarea' )%>
  </div>


  <%= submit_tag "RSVP" %>
<% end %>
