<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %> | Ernie and Tina's Wedding Site</title>
    <link href='http://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
  <div id="content">
    <%= yield %>
  </div>
  <div id="nav">
    <%= link_to 'Our Story', story_path %>|
    <%= link_to 'Guestbook', guestbook_path %>|
    <%= link_to 'Registry', registry_path %>|
    <%= link_to 'RSVP', rsvp_path %>|
    <%= link_to 'Photos', photos_path, target: "_blank" %>|
    <%= link_to 'Venue & Transportation', venue_path %>
  </div>
  </body>
</html>
